<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0"/>
    <title>Team Website</title>
    <link rel="stylesheet"
          href="/stylesheets/style2.css"/>
    <link rel="icon"
          href="/images/pink-sun.ico"/>
</head>
<body>
<div class="student-info">
    <img src="<%=studentPhoto%>" alt="Student Photo"/>
    <div class="details">
        <h1>Student Information</h1>
        <p>Name: <%=studentName%></p>
        <p>Surname: <%=studentSurname%></p>
        <p>Age: <%=studentAge%></p>
        <a href="<%=link%>">Studies in: <%=place%></a>
    </div>
</div>
<a class="back"
   href="/">Go back to Home</a>
</body>
</html>